*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
/.idea/deviceManager.xml
/.idea/markdown.xml
/_doc_audit/
~$*.docx
/coursework_report*.docx
/Курсовая_работа_Книга_рецептов.docx
/Отчет_Курсовая_Книга_рецептов_по_методичке.docx
